*{
    margin: 0;
    padding: 0;
}

body{
    font-family:dsText,dsText Fallback,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;;
}

body h1{
    font-family:Arial, Helvetica, sans-serif;

    
}

body .main-text-3{
    font-weight: 1000;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.774);
}

body .main-text-2{
    font-weight: 1000;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.774);
}

body .main-text{
    font-weight: 1000;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.774);
}

body {
    background: rgba(243, 242, 242, 0.8);
}



.container{
    margin: 0 80px;
}

.header{
    position: fixed;
    width: 1300px;
    height: 50px;
    background: white;
    box-shadow: 0px 0.1px 5px black
}

.header-line{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nav{
    margin-right:250px ;
}

.nav a{
    color: black;
    text-decoration: none;
    margin-right: 35px;
}


.nav-text_1:hover{
    color:rgba(141, 140, 138, 0.658);
}

.account{
    color: rgb(0, 26, 255);
}

.main-min-text{
    padding-top: 100px;
    text-align: center;
    color: rgba(124, 124, 124, 0.829);
    font-size: 13px;
    letter-spacing: 1px;
}
.main-text{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.856);
}
.main-text1{
    text-align: center;
    line-height: 22px;
}

.main-button{
    border: none;
    border-radius: 10px;
    width: 180px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(255, 218, 10);
}

.main-block-button{
    text-align: center;
}

.main-image{
    padding-top: 40px;
    margin-left: 100px;
}


.block-line{
    height: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.block{
    color: rgba(0, 0, 0, 0.733);
    width: 30%;
    margin-right: 20px; 
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.block h1{
    padding-top: 10px;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    margin-left: -20px;
}

.block p{
    margin-top: 10px;
    font-size: 15px;
    margin-left: 30px;
}


.block-icon{
    margin-top: 50px;
    margin-left: 30px;
}

.block-black{
    color: white;
    width: 31%;
    margin-left: 20px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 20px;
}
.block-black h1{
    padding-top: 10px;
    margin-top: -15px;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
}

.block-black p{
    margin-top: -10px;
    font-size: 15px;
    margin-left: 30px;
}


.block-white{
    color: rgba(0, 0, 0, 0.733);
    width: 30%;
    margin-left: 25px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 20px;
}
.block-white h1{
    padding-top: 10px;
    line-height: 60px;
    font-size: 22px;
    margin-left: 28px;
    text-align: left;
}

.block-white p{
    margin-top: 10px;
    font-size: 15px;
    margin-left: 30px;
}




.block-line-2{
    margin-top: 50px;
    height: 180px;
    margin-bottom: 70px;
    display: flex
}

.block-2{
    border-radius: 20px;
    margin-top: 30px;
    width: 38%;
    height: 150px;
    margin-right: 30px;
    margin-left: 25px;
    background-color: rgb(255, 255, 255);
}


.block-2-block{
    color: white;
    width: 10%;
    width: 65px;
    height: 65px;
    border-radius: 30%;
    margin-left: 120px;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.815);
}

.block-2-block h1{
    text-align: center;
    line-height: 65px;
}

.block-2 p{
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    color:rgba(0, 0, 0, 0.815);
}

.main-card{
    height: 1104px;
    background: rgb(255, 255, 255);
    margin-left: 88px;
    margin-right: 88px;
    margin-bottom: 100px;
    border-top: 6px solid rgba(0, 0, 0, 0.815);
    border-radius: 35px;
    box-shadow: 0px 2px 10px black;
}

.main-card-line{
    margin-left: 80px;
    margin-top: 80px;
}

.main-card-line h1{
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.main-card-block-button{
    text-align: center;
    margin-left: 90px;
}

.main-card-button-1{
    height: 55px;
    width: 90px;
    border-radius: 5px;
    border: none;
    background-image: url(images/main-card-2.png);
    background-size: 86px;
    margin-top: 30px;
}

.main-card-button{
    margin-right: 10px;
    height: 55px;
    width: 90px;
    border-radius: 5px;
    border: none;
    background-image: url(images/main-card.png);
    background-size: 90px;
    margin-top: 30px;
}

.card-image{
    margin-top: -15px;
}


.progress-bar{
    color: rgba(0, 0, 0, 0.658);
    width: 200px;
    text-align: center;
    margin-left: 600px;
    margin-top:-120px;
}

.progress-bar h1{
    text-align: left;
    margin-left: 40px;
    margin-top: 12px;
}

.bar{
    margin-left: 40px;
    height: 8px;
    width: 250px;
    background: rgba(243, 242, 242, 0.8);
    border-radius: 10px;
}

.bar-item{
    width: 63%;
    border-radius: 10px;
    height: 8px;
    background-color: rgba(30, 255, 0, 0.315);
}

.bar-item-item{
    width: 8%;
    border-radius: 10px;
    height: 8px;
    background-color: rgba(6, 180, 29, 0.89);
}

.bar-text{
    margin-top: 10px;
    width: 300px;
    margin-left: -30px;
}

.inputs{
    margin-top: 30px;
}
#cash-choice{
    text-indent: 30px;
    font-size: 15px;
    width: 580px;
    height: 60px;
    border: none;
    border-radius:10px;
    background-color: rgba(0, 119, 255, 0.103);
}

.input{
    text-indent: 30px;
    font-size: 15px;
    width: 580px;
    height: 60px;
    border: none;
    border-radius:10px;
    background-color: rgba(0, 119, 255, 0.103);
    margin-bottom: 40px;

}

.text-input{
    display: block;
    height: 20px;
    width: 50px;
    background-color: rgb(5, 179, 28);
    border-radius: 10px;
    font-size: 5px;
    margin-left: 520px;
    margin-bottom: -40px;
}

.text-input h1{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: white;
}


.two-input-line{
    display: flex;
    width: 580px;
    height: 60px;
}

.two-input{
    text-indent: 30px;
    border: none;
    border-radius: 8px;
    height: 60px;
    width: 280px;
    margin-right: 17px;
    background-color: rgba(0, 119, 255, 0.103);
}

.input-block{
    margin-top: 50px;
}

.input-block-1{
    margin-top: 80px;
}

.two-text-input{
    display: block;
    height: 20px;
    width: 50px;
    background-color: rgb(5, 179, 28);
    border-radius: 10px;
    font-size: 5px;
    margin-left: 220px;
    margin-bottom: -40px;
}

.two-text-input h1{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: white;
}


.two-input-1{
    text-indent: 30px;
    border: none;
    border-radius: 8px;
    height: 60px;
    width: 280px;
    margin-right: 17px;
    background-color: rgba(0, 119, 255, 0.103);
    margin-top: 20px;
}

.input-1{
    text-indent: 30px;
    margin-top: 30px;
    font-size: 15px;
    width: 580px;
    height: 60px;
    border: none;
    border-radius:10px;
    background-color: rgba(0, 119, 255, 0.103);
    margin-bottom: 40px
}

.text-input-1{
    display: block;
    height: 20px;
    width: 50px;
    background-color: rgb(5, 179, 28);
    border-radius: 10px;
    font-size: 5px;
    margin-left: 520px;
    margin-bottom: -70px;
}

.text-input-1 h1{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.text-button{
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.main-card-button-3{
    text-indent: 3px;
    font-size: 18px;
    width: 120px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: rgb(255, 218, 10);
}



.block-line{
    height: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.block_2{
    width: 30%;
    margin-right: 20px; 
    height: 220px;
    background-color: rgba(143, 143, 143, 0.116);
    border-radius: 20px;
}

.block_2 h1{
    font-size: 23px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.block_2 p{
    color: rgba(0, 0, 0, 0.637);
    margin-left: 40px;
}

.block-icons{
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: -60px;
    text-align: center;
}

.image-text-text h1{
    color:rgba(0, 0, 0, 0.815);
    font-size: 20px;
}

.image-text-text p{
    color:rgba(0, 0, 0, 0.815);
    margin-top: 10px;
    margin-bottom: 55px;
}

.image-text-image{
    margin-left: 20px;
    width: 680px;
    margin-left: 350px;
    background-color: rgba(143, 143, 143, 0.116);
    border-radius: 20px;
    margin-top: -60px;
}

.image-text-text{
    margin-top: -545px;
}

.image-text{
    margin-bottom: 300px;
}

.block_3{
    color: rgba(0, 0, 0, 0.733);
    width: 30%;
    margin-right: 50px; 
    height: 280px;
    background-color: rgba(143, 143, 143, 0.116);
    border-radius: 20px;
    margin-top: -350px;
}


.block_3 h1{
    padding-top: 10px;
    line-height: 30px;
    font-size: 22px;
    text-align: left;
    margin-left: 30px;
}

.block_3 p{
    margin-top: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.block_3-icon{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 25px;

}



.image-text-text-2 h1{
    color:rgba(0, 0, 0, 0.815);
    font-size: 20px;
}

.image-text-text-2 p{
    color:rgba(0, 0, 0, 0.815);
    margin-top: 10px;
    margin-bottom: 55px;
}

.image-text-image-2{
    margin-left: 20px;
    width: 680px;
    background-color: rgba(143, 143, 143, 0.116);
    border-radius: 20px;
    margin-top: -100px;
}

.image-text-text-2{
    margin-left: 750px;
    margin-top: -545px;
}

.image-text-2{
    margin-top: -360px;
    margin-bottom: 300px;
}

.text-main-2{
    text-align: center;
    margin-bottom: 400px;
}
.text-main{
    text-align: center;
}

.main-text-2{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -200px;
    padding: 20px;
    text-align: center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.856);
}


.block_4{
    color: rgba(0, 0, 0, 0.733);
    width: 30%;
    margin-right: 50px; 
    height: 250px;
    background-color: rgba(143, 143, 143, 0.116);
    border-radius: 20px;
    margin-top: -50px;
}


.block_4 h1{
    padding-top: 10px;
    line-height: 30px;
    font-size: 22px;
    text-align: left;
    margin-left: 30px;
}

.block_4 p{
    margin-top: 10px;
    font-size: 15px;
    margin-left: 30px;
}

.block_4-icon{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 25px;

}

#black{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

.grid{
    margin-top: 70px;
    height: 320px;
    width: 80vw;
    margin-left: 100px;
    margin-right: 88px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 60px;
}
.grid-item{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.801);
}

.main-text-3{
    text-align: center;
    font-size: 40px;
    margin-top: -30px;
}

.grid-item h1{
    font-size: 22px;
    margin-left: 30px;
    margin-top: 25px;
}

.grid-item p{
    margin-top: 15px;
    font-size: 14px;
    margin-left: 30px;
    font-weight: 500;
}

#purpl–µ{
    background: rgba(28, 1, 179, 0.699);
    color:white
}

#block_5{
    background-color: white;
}

#block_5 p{
    margin-bottom: 30px;
}

#block_5 h1{
    margin-top: -10px;
}

#purple p{
    margin-bottom: 30px;
}

#purple h1{
    margin-top: -10px;
}



.grid-2{
    margin-top: -60px;
    height: 220px;
    width: 82vw;
    margin-left: 90px;
    margin-right: 88px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 60px;
}
.grid-item-2{
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.801);
}

.grid-item-2 h1{
    font-size: 22px;
    margin-left: 30px;
}

.grid-item-2 p{
    margin-top: 15px;
    font-size: 14px;
    margin-left: 30px;
    font-weight: 500;
}

.grid-box{
    border-radius: 25px;
    margin-left: 100px;
    height: 380px;
    width: 78vw;
    padding: 40px 0px 40px 48px;
    background-color:rgba(188, 195, 255, 0.233);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 50px;
}
.grid-box-item-1{
    color: rgba(0, 0, 0, 0.712);
    height: 400px;
}

.grid-box-item-2{
    margin-left: 30px;
}


.grid-box-logo{
    height: 120px;
    width: 120px;
    border-radius: 35%;
    background-color: rgb(255, 217, 0);
    display: flex;
    margin-bottom: 60px;
}

.grid-box-image{
    width: 550px;
    height: 430px;
    margin-top:-10px
}

.grid-box-item-1 h1{
    margin-bottom: 15px;

}

.grid-box-button button{
    letter-spacing: 2px;
    text-indent: 30px;
    color: white;
    background-color: black;
    size: 20px;
    border: none;
    font-weight: 1000;
    border-radius: 10px;
    margin-top: 50px;
    height: 40px;
    width: 120px;
}

.container-2{
    padding:40px 40px 40px 40px;
    width: 93%;
}

.block-question{
    padding:60px 40px 40px 80px;
    border-radius: 20px;;
    background: white;
}

.block-question-items h1{
    line-height: 60px;
    font-size: 20px;
}

.block-question-items{
    display: grid;
    grid-row-gap:10px ;
}

.question h1{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
}

.list{
    display: none;
}

.checkbox{
    display: none;
}
.checkbox:checked ~ .list {
    display: block;
  }

.button{
    width: 500px;
}

.question{
    border-bottom:1px solid rgba(0, 0, 0, 0.671) ;
    color: rgba(0, 0, 0, 0.822)
}

.question h1:hover{
    color: rgba(0, 0, 0, 0.459);
}

.question p{
    margin-bottom: 20px;
}
.question li{
    margin-left: 20px;
    margin-bottom: 20px;
}

.question a{
    margin-bottom: 20px;
    color:rgba(0, 0, 0, 0.692);
    text-decoration: underline black;
}